[2016-06-13 17:33] AntJanus opened #1 "What needs to be done for initial release"
We need to release angular-base to NPM but before that gets done, there is a lot of work to do, mainly having to do with other open source projects related to Foundation for Apps, and branding as well as deciding on the structure of the leadership behind this fork.

[2016-06-13 17:37] soumak77 commented on #1
It would be a good idea to continue with the decoupling of the framework that was started with https://github.com/zurb/front-router and https://github.com/zurb/motion-ui.  This would help move in the direction of enabling other front end frameworks.  This may not be something needed for the initial release, but should be done sooner than later.

[2016-06-13 17:38] AntJanus commented on #1
To dos that I can think of:
- [x] update README with new links
- [x] new tests over travis-ci https://travis-ci.org/base-apps/angular-base
- [ ] new documentation needs to live somewhere as well
- [ ] publish NPM/Bower packages

Secondary release:
- [ ] fork https://github.com/zurb/foundation-cli
- [ ] fork https://github.com/zurb/foundation-apps-template, publish it, and reference the new package

[2016-06-13 18:09] soumak77 commented on #1
For `new documentation needs to live somewhere as well`, we can use https://pages.github.com.  I've never personally used it, but seems easy enough and this way we don't need an alternate hosting site.

[2016-06-13 18:32] mattgrande commented on #1
Does this need a CLI for v1? I think we could live without it, personally.

Agreed that github pages is a good solution for documentation.

[2016-06-13 18:49] soumak77 commented on #1
Yeah the CLI is really just a few basic commands.  I would prefer to not have to maintain it in this framework as it was designed specifically for the suite of foundation frameworks.  If we only need to support the one framework, we can integrate the commands into npm scripts or gulp tasks.

[2016-06-13 19:11] tolyo commented on #1
The CLI is an overkill as its basically a wrapper around npm and a build tool.
We will need a second repo for `angular-base-website`.

[2016-06-13 19:29] soumak77 commented on #1
I ran the auto generator to produce a template github pages website: http://base-apps.github.io/angular-base.  Updates can be committed to the github pages branch https://github.com/base-apps/angular-base/tree/gh-pages.

[2016-06-13 19:30] soumak77 commented on #1
@tolyo what will `angular-base-website` be needed for?

[2016-06-13 20:06] AntJanus commented on #1
We definitely don't need to port the CLI right away but I figure that if people got used to using it, I'd want to have a port of it, too. Whoever wants to support it can do so.

@tolyo as far as the `angular-base-website`, would that just be a port of https://github.com/zurb/foundation-apps-template?

[2016-06-13 20:44] soumak77 commented on #1
In terms of version, should we just carry on where foundation apps left off?  Meaning the first release of this framework would be a `1.3` release (or `1.2.1` if it ends up being a drop in replacement).  I wouldn't mind starting the versioning from `1.0`, but not sure if that will be confusing when people migrate.

[2016-06-13 20:56] AntJanus commented on #1
Let's start from the original numbering. The rebrand should be like a patch: 1.2.1 or something with just READMEs, licenses, etc. updated. When we start adding the new aliases, we should bump it to 1.3 and follow semantic versioning from there.

That way, it's an easy drop-in replacement.

[2016-06-13 21:04] soumak77 commented on #1
Works for me. I'll start working on converting the docs to GitHub pages in a day or two if someone else doesn't get to it first.

[2016-06-14 06:16] tolyo commented on #1
@AntJanus @soumak77 I was thinking of keeping documentation separate from the framework. I guess ghpages works just fine at this point.

[2016-06-14 06:58] laurent-le-graverend commented on #1
Congrats for moving this here,

About documentation, I believe most of beginners would still bet on Foundation for Apps, which is probably fine for them for the moment. You want to drive advanced developers attention first, before they would be the one to drive bugs reports and fixes.

The big miss on Foundation for Apps documentation is to not be enough API oriented.
They build a nice way to buil

[2016-06-14 14:59] soumak77 opened #4 "Documentation updates"
The following updates need to be made to the documentation:
- [x] Migrate [docs](https://github.com/base-apps/angular-base/tree/master/docs) to [github pages branch](https://github.com/base-apps/angular-base/tree/gh-pages)
- [x] Enhance API documentation
- [x] Enhance examples with more real-world scenarios
  - communication between components via sub/pub system

[2016-06-14 15:00] soumak77 commented on #1
@laurent-le-graverend I agree the API documentation is really poor.  I've created issue #4 to discuss documentation changes.

[2016-06-14 15:06] soumak77 commented on #1
@AntJanus We can likely push the documentation changes to the next release.  Foundation for Apps docs should be appropriate for now since we won't be making any framework changes.

With that said, we may be able to push a release very shortly.  Is there anything else we are waiting on other than verifying all tests are passing?

[2016-06-14 15:41] soumak77 opened #5 "Browser support"
I was having the strangest bugs appear in my apps only on certain devices and couldn't for the life of me figure out what was going wrong.  I then stumbled upon this line of code in the build:

[code]

Recent browser releases have changed what this code actually does and therefore which browsers are actually supported by the framework.  In my local build I've updated this to the following:

[code]

[2016-06-14 16:20] AntJanus commented on #5
I think we can go ahead and make that fix in the repo.

[2016-06-14 16:21] AntJanus commented on #1
@soumak77 nothing at all! We can push it out to NPM and Bower as soon as we merge in the docs.

[2016-06-14 16:43] soumak77 opened #6 "Replace gulp-ruby-sass with gulp-sass in tests"
Currently `gulp-ruby-sass` is used during testing, but `gulp-sass` is used to create the official distro files.  Use `gulp-sass` for testing to be consistent.

[2016-06-14 16:53] soumak77 commented on #6
I'm going to work on fixing this now.  I don't want to have to go down the route of installing node-sass to get my branch up and running.

[2016-06-14 17:23] soumak77 commented on #1
@AntJanus when you say `merge in the docs`, what are you referring to?  Seems as though we can just remove the docs from the repo entirely.  Docs will have to be maintained in a different branch anyway, specifically https://github.com/base-apps/angular-base/tree/gh-pages.

[2016-06-14 17:35] #6 closed

[2016-06-14 17:38] soumak77 opened #9 "Pending releases"
Conversation was started on #1, but the thread has grown to include topics that shouldn't be in the initial release.  I want to ensure we are all on the same page in terms expectations for upcoming releases.  Here is what I'm thinking so far and will update these requirements as needed:

- Release 1.2.1
  - Drop in replacement for Foundation for Apps 1.2.  No changes should be required to consume

[2016-06-14 17:54] soumak77 commented on #5
It appears the `not` query syntax is only supported in gulp-autoprefixer >= 3.x, which removes support for node 0.10.x and causes failures during testing.  I'll remove the `not ie <= 9` from the list so we don't need to worry about changing node versions.

[2016-06-14 18:04] #5 closed

[2016-06-14 18:10] soumak77 commented on #9
@tolyo I see you marked #8 as completed, but it must still be merged to master

[2016-06-14 18:10] soumak77 commented on #9
I meant #3

[2016-06-15 07:47] tolyo commented on #9
`Rebranding` merged to `master`

[2016-06-28 09:29] soumak77 commented on #9
@tolyo I'm hoping to get back to this in a couple days.  I'd like to publish the first release this weekend.

[2016-06-28 09:33] tolyo commented on #9
@soumak77 np

[2016-06-29 17:38] soumak77 opened #13 "Add support for Angular 1.5"
Allow framework to be compatible with angular 1.5, without dropping support for 1.3 or 1.4

[2016-06-29 22:06] tolyo commented on #13
I am working with 1.5 and haven't encountered any issues thus far.

[2016-07-14 10:58] soumak77 commented on #9
Version 1.2.1 has been published.  Unfortunately the name `angular-base` is taken in the bower registry by [this repo](https://github.com/carlospliego/angular_base).  I've registered the package under `angular-base-apps`.  I originally published the npm package under `angular-base`, but then switched to `angular-base-apps` to be consistent with bower.

[2016-07-14 11:02] soumak77 commented on #1
Initial [v1.2.1](https://github.com/base-apps/angular-base/releases/tag/v1.2.1) release has been published.  Due to a conflict in the bower registry, the package has been published under `angular-base-apps`.

[2016-07-14 11:02] #1 closed

[2016-07-14 11:49] tolyo commented on #9
Brian, I say we rename the git repo too.

[2016-07-14 11:54] soumak77 commented on #9
@tolyo yeah that would probably be for the best.  I'll do that now and re-register the new repo with bower and npm.

[2016-07-14 12:03] soumak77 commented on #9
I wasn't able to unregister/register the package on bower, so I opened [an issue on bower](https://github.com/bower/registry/issues/209)

[2016-07-14 12:08] soumak77 commented on #4
After building the repo and publishing the docs, I realized that it would be a whole lot easier if the docs were just part of the distribution files.  It would also ensure that the docs are available for each version.  The docs can't be viewed using `file://`, but can be easily viewed using any local web server such as [http-server](https://www.npmjs.com/package/http-server).

[2016-07-15 08:52] tolyo commented on #9
@soumak77 Brian, how would we go about other people's pull requests? Is that something we can migrate or is that something we would have to go through one by one?

[2016-07-15 08:53] soumak77 commented on #9
@tolyo this has already been completed with https://github.com/base-apps/angular-base-apps/pull/14

[2016-07-15 09:06] tolyo commented on #9
@soumak77 Ok. I guess we still need to monitor for them as people keep creating them for `zurb:master`

[2016-07-17 04:48] soumak77 opened #15 "Remove $foundation-version scss variable"
Is anyone aware of the usage of the `$foundation-version` SCSS variable in the codebase?  I see the comment "Meta styles are included in all builds, as they are a dependency of the Javascript.", however, only `foundation-mq` is used.

I'll remove it if it is not used, otherwise, the build will need to be updated to auto update the version with each build.

[2016-07-17 04:49] soumak77 commented on #15
@gakimball @AntJanus would either of you be able to provide insight on this?

[2016-07-17 08:10] soumak77 commented on #4
anyone have examples/suggestions for the docs?

[2016-07-17 09:52] soumak77 commented on #13
Updating to 1.5 causes the tests to fail: https://travis-ci.org/base-apps/angular-base-apps/builds/145319822

[2016-07-17 10:33] soumak77 opened #16 "Add overlayDestroy to modals"
Sparked by [this issue](https://github.com/zurb/foundation-apps/issues/823), it would be useful to have an `overlayDestroy` property for modals.  This new property would act similar to `overlayClose`, except that it would also destroy the modal after closing it.  This way the modal is completely removed from the DOM when the overlay is clicked.  As shown in the issue above, there is a memory leak

[2016-07-17 17:23] tolyo commented on #13
I'll take a look at that

[2016-07-17 18:54] tolyo commented on #13
Fixed

[2016-07-17 18:54] #13 closed

[2016-07-17 21:07] #4 closed

[2016-07-17 22:03] soumak77 commented on #9
Version 1.2.2 has been published

[2016-07-17 22:27] soumak77 opened #18 "Documentation Rebranding"
The docs heavily references Zurb / Foundation and there are many links to their various sites.  These references need to be removed or updated throughout the docs.

[2016-07-18 23:28] soumak77 opened #20 "Allow links inside modals to be clickable"
I have a case where I'm rendering dynamic html inside a modal using markdown.  The markdown has a link in it, but that link is not clickable when inside a modal.  The reason is use to the usage of `$event.stopPropagation()` on the [modal aside](https://github.com/base-apps/angular-base-apps/blob/master/js/angular/components/modal/modal.html).  This change was added with https://github.com/base-app

[2016-07-19 00:00] soumak77 commented on #20
The usage of `$event.stopPropagation()` was added in combination with a click handler on the parent which would close the element when clicked.  This caused only clicks on the overlay to close the modal and trapped all other clicks, giving the desired "overlay close" effect.

This logic needs to be updated so that if the click originated from within the `aside`, the modal is not closed, but the ev

[2016-07-19 00:49] #20 closed

[2016-07-19 01:46] soumak77 opened #22 "Links inside zf-close aren't working"
The following code will cause the link to not navigate to the desired page:
[code]

As a workaround, you can use:
[code]

Where `navigate` will programmatically change the url.  This solution will not work for me however since the html used inside the `div` is generated via markdown.

[2016-07-19 15:52] gakimball commented on #15
@soumak77 As I recall it was mostly a Sass equivalent of the JavaScript variable `Foundation.VERSION`, although that has a more practical debugging purpose (and lets you open a console and see what version of Foundation a site is using).

For Apps, I don't believe it does anything, so you're free to remove it.

[2016-07-19 18:47] soumak77 commented on #15
@gakimball thanks for the insight, it'll be removed

[2016-07-25 23:03] soumak77 opened #23 "Add secondary to $foundation-colors"
Add `$secondary-color` to `$foundation-colors` scss variable.  This will allow using the `secondary` class for labels, cards, and iconic coloring.  These are the only components in the codebase which currently use `$foundation-colors`.

[2016-07-25 23:06] #23 closed

[2016-07-25 23:16] soumak77 opened #24 "Fix tabs to work better within framework"
The current implementation of tabs does not work well with angular and has resulted in many issues being posted against the old repository.  In addition, the tabs don't conform to the internal sub/pub system as all other components, making it impossible to control outside the scope of the tabs.  Tabs should be able to be opened and closed using the sub/pub system just like any other component.

[2016-07-25 23:17] soumak77 opened #25 "Fix accordions to work better within framework"
The current implementation of accordions does not work well with angular and has resulted in many issues being posted against the old repository.  In addition, the accordions don't conform to the internal sub/pub system as all other components, making it impossible to control outside the scope of the accordions.  Accordions should be able to be opened and closed using the sub/pub system just like

[2016-07-26 00:36] soumak77 opened #26 "add IconicProvider﻿ example to docs"
see post on foundation forum:

http://foundation.zurb.com/forum/posts/39402-iconic-default-asset-path

[2016-07-27 03:17] #15 closed

[2016-07-27 03:17] #26 closed

[2016-07-31 17:53] soumak77 opened #27 "Allow tabs to be closed by default"
Currently, the tabs component requires one tab to be one at all times.  Update the component so that it can optionally allow not having a tab open.  In this case, close all tabs to start and if a tab is open, allow close it by clicking the tab (the same way it was opened).

For consistency, use the same `auto-open` and `collapsible` attributes as the accordion

[2016-07-31 18:04] soumak77 opened #28 "Betters docs for displaced tabs"
I have no idea how displaced tabs work based on the example in the docs.  No content is in the displaced html, so how is the example suppose to even showcase the feature...

[2016-07-31 18:23] soumak77 opened #29 "Allow displaced tab content to be placed anywhere in markup"
Currently, if you attempt to place `zf-tab-content` above `zf-tabs`, the displaced functionality will not work.  Example markup shown below:

[code]

[2016-07-31 18:26] soumak77 commented on #29
Just figured out that using a bit of angular magic can solve this issue.  See usage of `ng-init` and `ng-if` below.  I'll add this to the docs for #28.

[code]

[2016-07-31 18:26] #29 closed

[2016-07-31 19:36] soumak77 commented on #24
I'm not sure there is anything to "fix" here.  Tabs use an isolated scope, so in order to access data outside the scope, one must use `$parent`.  This is just standard angular behavior.  The docs will be updated to showcase this usage.

[2016-07-31 22:01] #18 closed

[2016-07-31 22:01] #27 closed

[2016-07-31 22:01] #28 closed

[2016-07-31 22:01] soumak77 commented on #24
Tabs were already configured to work with the sub/pub system.  I added some minor changes to expose the functionality and added examples to the docs.

[2016-07-31 22:01] #24 closed

[2016-07-31 22:13] soumak77 opened #31 "Remove reference to foundation in all files"
Remove references to all foundation modules and files.  This release will require developers use the new `base` modules and distro files as defined in the [1.2.1 release](https://github.com/base-apps/angular-base-apps/releases/tag/v1.2.1).
- [x] replace `zf` references with `ba` (in framework and docs)
- [x] remove `foundation` modules
- [x] remove `foundation` distro files
- [x] remove `foundatio

[2016-07-31 22:14] soumak77 opened #32 "Fork foundation Templates"
- [x] fork https://github.com/zurb/foundation-apps-template and update to latest version
- [x] add section to docs for how to use the template
- [x] migrate to angular-base-apps 2.0 prerelease
- [x] integrate angular-dynamic-routing
- [x] integrate base-apps-router
  - [x] once [this PR](https://github.com/base-apps/angular-front-router/pull/1) is merged, the dynamic routing build step will be cap

[2016-07-31 22:14] soumak77 opened #33 "create new jsdelivr links"
approval pending: https://github.com/jsdelivr/jsdelivr/pull/12754

[2016-07-31 22:16] soumak77 commented on #9
I've creating separate issues for the remaining items so that this can be closed.

[2016-07-31 22:27] soumak77 commented on #25
The `collapsible` functionality is broken for accordions: https://base-apps.github.io/angular-base-apps/#!/accordion. It should be defaulted to false, yet in the basic example the accordion is collapsible.

[2016-07-31 23:31] #25 closed

[2016-08-01 10:20] soumak77 commented on #33
Links have been created.  For more info check the docs https://base-apps.github.io/angular-base-apps/#!/installation

[2016-08-01 10:20] #33 closed

[2016-08-03 04:35] soumak77 opened #35 "New Features"
With most of the framework stabilized as of v1.2.5, I'm looking for what to work on next for this framework.  If anyone has opinions on new features or enhancements to existing ones, let's talk about it!  Here are the current approved features:

### Loading Symbols (https://github.com/base-apps/angular-base-apps/issues/38) (v2.0)
A set of loading symbol directives that make it easy to change the s

[2016-08-03 06:50] soumak77 commented on #35
While using this framework I've had to build out various features on my own that might be useful to integrate into the core framework.  Here are a summary of those features:

### No Support Detection

If the framework is not supported by the browser, display an overlay indicating lack of support.

Currently I use Modernizr's flex-box support as the way for determining whether the framework is supp

[2016-08-03 23:02] mattgrande commented on #35
Hey @soumak77, I just wanted to thank you for your work on this thus far. I want to contribute, but I don't currently have the time, but I really like the direction it's headed. Thanks.

[2016-08-04 20:34] soumak77 opened #36 "Firebase Integration"
I will be using [firebase](https://firebase.google.com/) for an upcoming app and will be using the [angularfire](https://github.com/firebase/angularfire) library to integrate with firebase.  Once you integrate any type of backend with this apps framework, you'll find you need some way to block access to certain content, so it would make sense to provide a standard way to do this for any app.  Once

[2016-08-05 18:59] tolyo commented on #35
@soumak77 Awesome work Brian.
For route and auth security, I currently use [Angular Permission](https://github.com/Narzerus/angular-permission). Its quite good. My two cents:

### Replace Font Iconic

Its a commercial webfont and icon set and including its free parts is plain advertising. Two great replacement options are either [Ionicons](http://ionicons.com/) or Android [icons](https://design.go

[2016-08-05 19:13] soumak77 commented on #35
@tolyo I would really love to figure out how to get the same functionality for animating views to work with animating any html (this might be possible and just not in the docs).  For instance, on almost a daily basis I find myself writing something like:

[code]

I would like to be able to smoothly animate the two elements when the `value` changes.  I know I can use the ui-motion classes, but the

[2016-08-05 19:15] soumak77 commented on #36
This might be taken care of with https://github.com/Narzerus/angular-permission.  I'll leave this issue open for now in case I come across anything that would be useful to add while playing with the firebase integration.

[2016-08-05 19:26] tolyo commented on #35
@soumak77 Isn't `$animate` designed to address that use case? Css-transitions requires some tinkering to work smoothly but its doable.

[2016-08-05 19:28] soumak77 commented on #35
@tolyo I'm not familiar enough with `$animate`, but I believe that is what is used under the hood for view animations.  Last I checked it only worked on elements with a `ui-view` attribute.  I don't know how to make it work for generic html.

[2016-08-05 19:57] tolyo commented on #35
@soumak77 Synchronization of animation for different components is not trivial issue. Not sure where even to begin.

[2016-08-05 20:37] soumak77 commented on #35
@tolyo I just looked at the implementation for view animation and it does not use `$animate`.  It attempts to re-use the Motion UI classes to make the animations work smoothly.  I like the intent as it would make it very easy to flag which content that should be animated without having to do all the heavy lifting.

If a similar design can be created that uses `$animate` I would like to explore tha

[2016-08-06 20:38] soumak77 opened #37 "Icon Manager"
Create an angular service (`IconManager`) which will be responsible for configuring which icons to use in the application.  Currently the framework supports a subset of icons from [Iconic](https://useiconic.com/).  The desire is to be able to use any icon library such as [Ionicons](http://ionicons.com/) or [Material Icons](https://design.google.com/icons/) (or others down the line).  The framework

[2016-08-06 20:40] soumak77 commented on #37
@tolyo let me know if you have any feedback on the requirements and feel free to assign it to yourself if you want to start working on it.  I probably won't get to it for some time.

[2016-08-06 20:57] tolyo commented on #37
@soumak77 Thanks. I like the direction with lazy loading. I will look into it. Np.

[2016-08-06 20:59] tolyo commented on #32
@soumak77 Do we need the cli? I don't see the point of it. I will get around the template ASAP.

[2016-08-06 21:05] soumak77 commented on #32
@tolyo whatever steps the CLI performs we can just add to the documentation

[2016-08-06 22:38] soumak77 commented on #37
@tolyo This might be worth pulling out of the framework so that it can be used by any angular app.  The current implementation for iconic only uses the framework to subscribe to resize events, so there is no real dependency on angular base apps.

[2016-08-06 22:57] soumak77 opened #38 "Loading Symbol Directives"
Create a set of loading symbol directives that make it easy to change the style and color of the loading symbol.  The loading symbols from [SpinKit](http://tobiasahlin.com/spinkit/) would be a good place to start.  All the loading symbols are created with SCSS and will plug in nicely with this framework.

[2016-08-06 22:57] soumak77 commented on #38
One thing I noticed is that SpinKit does not provide SCSS mixins, so changing the size of the loading symbol is not supported.  I've created an issue to track adding of SCSS mixins to the library (https://github.com/tobiasahlin/SpinKit/issues/120).  Once that is implemented it should be fairly straight forward to get the directives created.

[2016-08-07 00:08] soumak77 commented on #37
See existing implementations for angular icons:
- (Iconic) https://github.com/felixdulfer/angular-iconic
- (Material Icons) https://github.com/klarsys/angular-material-icons
- (Ionicon) https://github.com/cobolab/ionicon

Perhaps a new `angular-icons` library can be created which combines the functionality per the requirements above to allow a plugin type interface thus enabling other icon librari

[2016-08-07 01:51] soumak77 opened #39 "Confirm Modal"
Create a reusable `ConfirmModal` modal that can replace `window.confirm`.   The implementation of `ConfirmModal` should simply use `ModalFactory` as shown in the [docs](https://base-apps.github.io/angular-base-apps/#!/modal) for the ProgrammaticModal.  The following JS options must be configurable for the `ConfirmModal`:
- Title
- Content
- Enter Callback
- Cancel Callback

The class `confirm-moda

[2016-08-07 01:56] soumak77 opened #40 "Prompt Modal"
Create a reusable `PromptModal` modal that can replace `window.prompt`.   The implementation of `PromptModal` should simply use `ModalFactory` as shown in the [docs](https://base-apps.github.io/angular-base-apps/#!/modal) for the ProgrammaticModal.  The following JS options must be configurable for the `PromptModal`:
- Title
- Content
- Input Type
  - value to use for the `type` attribute of the i

[2016-08-07 17:47] soumak77 opened #42 "Decouple dynamic routing logic"
Decouple the dynamic routing logic from the framework and put it in its own repository.  The work was started with https://github.com/zurb/front-router to migrate the [gulp task](https://github.com/base-apps/angular-base-apps/blob/master/bin/gulp-dynamic-routing.js).  The `base.dynamicRouting` and `base.dynamicRouting.animations` modules should also be moved.

The dynamic routing logic can then be

[2016-08-07 20:09] soumak77 commented on #40
done

[2016-08-07 20:09] #40 closed

[2016-08-07 20:09] soumak77 commented on #39
done

[2016-08-07 20:09] #39 closed

[2016-08-10 11:35] tolyo commented on #32
@soumak77 We have two npm repoes right now. Please unpublish the unused one.

[2016-08-10 17:30] soumak77 commented on #32
@tolyo I tried but the command failed.  I opened an issue on npm: https://github.com/npm/npm/issues/13632

[2016-08-10 17:47] tolyo commented on #32
@soumak77 Roger

[2016-08-10 18:15] soumak77 commented on #32
@tolyo what is the reason for replacing `gulp` with `brunch` in the template?  Is it just a preference thing or is there a technical reason?

To accommodate all developers, we can create the same template with different build tools.  I personally would want to have a gulp build when using the template.  The gulp build should also be the default template since the framework uses gulp.

Also, the dy

[2016-08-10 18:43] #36 closed

[2016-08-10 18:49] soumak77 commented on #32
duplicate npm package has been removed

[2016-08-10 18:53] tolyo commented on #32
@soumak77 Because it takes more code in `gulp` to set up ES6 based project with NPM for dependency management. I am assuming that most projects nowadays are started with ES6 and without Bower.

[2016-08-10 19:09] soumak77 commented on #32
@tolyo understood and I like that direction, but I still think a separate gulp template should be created so that users have options.  I personally have never heard of brunch, so if I was new to this framework, I wouldn't like having to learn a separate build system on top of the framework itself.

[2016-08-10 19:25] tolyo commented on #32
@soumak77 This is a sample to try the framework with sensible and modern defaults and not a reference on how the framework should be used. Feel free to replace it with Gulp or Grunt, but the previous version of the template is legacy.

[2016-08-10 19:36] soumak77 commented on #32
@tolyo I agree I'm looking at it from the standpoint of today versus the future.  Once https://github.com/base-apps/angular-base-apps/issues/42 has been completed, gulp won't be a hard dependency for the framework, so it won't matter at that point.

[2016-08-10 19:44] tolyo commented on #32
@soumak77 This isn't close to being done. I want to add sample apps to this: a) a chat app b) a dashboard app and c) task management app

[2016-08-10 19:51] soumak77 commented on #32
@tolyo looking forward to it!  We can use github pages to host the apps like we do with the docs.  I integrated https://www.npmjs.com/package/gh-pages into the framework build to auto-publish the docs.

[2016-08-10 21:56] soumak77 commented on #42
The logic has been split into the following repositories:
- https://github.com/base-apps/angular-front-router
- https://github.com/base-apps/angular-dynamic-routing

Angular front router is responsible for taking the front matter and turning it into state configurations.  Angular dynamic routing is responsible for taking those state configurations and creating angular states.

To migrate to the ne

[2016-08-10 21:56] #42 closed

[2016-08-11 07:43] soumak77 commented on #38
I finished rewriting the spinkit library to use mixins (tobiasahlin/SpinKit#121).  There appears to already be a library though that is attempting to do what I want: https://github.com/Urigo/angular-spinkit.  I'll contact the author to see if they are willing to update their library to be responsive.

[2016-08-11 07:56] soumak77 commented on #38
On second thought, since the integration is so simple, I would prefer to fully integrate the library into the framework.  This way the spinners can be easily colored and sized similar to everything else in the framework.

Anyone else have input on this?

[2016-08-11 09:41] tolyo commented on #38
@soumak77 Integrate into the library for fewer dependencies.

[2016-08-11 11:29] soumak77 commented on #38
Done. I've included the modified source code from SpinKit with the framework until https://github.com/tobiasahlin/SpinKit/pull/121 is accepted and a new version is published.

[2016-08-11 11:29] #38 closed

[2016-08-11 11:38] soumak77 commented on #31
@tolyo do you have a preference on whether we use prefix `ab` for angular base or `ba` for base apps?

[2016-08-11 11:54] tolyo commented on #31
@soumak77 not really.... in one case its Angular Base and in another its Base Apps....

[2016-08-11 13:31] tolyo commented on #32
@soumak77 I've been looking around for a solid Gulp ES6 stack and they all use Webpack. So it would require an introduction of yet another tool.

[2016-08-11 18:35] soumak77 commented on #32
@tolyo On an enterprise scale, the build systems can get pretty complex and I would like to have a template that understands this and makes it easy to build scalable apps from the start.  At the same time, I don't want too complex of a build that new comers are off put by using the framework just to hack something together.

Not sure if that helps, but that's my thinking.  If trying to make the ba

[2016-08-11 20:30] soumak77 commented on #35
@tolyo @mattgrande I created a milestone for the next [1.3 release](https://github.com/base-apps/angular-base-apps/milestone/1).  Let me know if you have any other features you would like to see added in that release.

I would like to publish 1.3 near the end of the month if possible, but wouldn't mind hold off to add some cool features.

[2016-08-11 20:36] soumak77 commented on #31
@tolyo I'll go with `ba` so that the prefix can be used across any projects created by the Base Apps org

[2016-08-11 21:55] soumak77 commented on #16
I added a `destroy-on-close` attribute so that the functionality can be used without an overlay.

[2016-08-11 21:55] #16 closed

[2016-08-11 22:23] soumak77 commented on #35
https://github.com/base-apps/angular-base-apps/issues/31 will result in a lot of breaking changes, so the next release will be 2.0

[2016-08-12 00:04] soumak77 commented on #31
Basic renaming is complete.  Now the following angular services and factories need to be renamed:
- `FoundationApi`
- `FoundationAdapter`
- `FoundationMQ`
- `FoundationMQInit`
- `FoundationAnimation`
- `FoundationActionSheet`
- `FoundationModal`
- `FoundationNotification`
- `FoundationOffcanvas`
- `FoundationPanel`
- `FoundationPopup`
- `FoundationTabs`

And the following SCSS variables:
- `$found

[2016-08-12 02:21] soumak77 opened #45 "Provide migration steps between 1.x and 2.0"
Update the docs to include steps for how to migrate from 1.x to 2.0:
- [x] How to use angular-front-router (#42)
  - Update [project readme](https://github.com/base-apps/angular-front-router/blob/master/README.md)
- [x] How to use angular-dynamic-routing (#42)
  - Update [project readme](https://github.com/base-apps/angular-dynamic-routing)
- [x] Rename directive prefix from `zf` to `ba`
- [x] Ren

[2016-08-12 02:22] #31 closed

[2016-08-12 21:05] tolyo commented on #32
@soumak77 Shooting just for minimal code for now.

[2016-08-12 21:34] soumak77 commented on #32
@tolyo sounds good.  I want to have a template available for the 2.0 release, so let me know when you get it working for 1.x and I can migrate it to 2.x.

[2016-08-12 22:02] tolyo commented on #32
@soumak77 Its functional. Please give it a try.

[2016-08-12 22:56] tunecino commented on #32
I like the idea of 2 templates. Yii2 which is a PHP framework introduced 2 templates, and it worked as it allowed introducing all solid stuff and complex architecture via an **advanced** one while also maintaining a **basic** version not only for newcomers but also for small projects with less requirements.

the **basic** template in this case may use the built-in **front-router** which is great f

[2016-08-13 10:42] #45 closed

[2016-08-13 11:35] soumak77 commented on #32
@tolyo I'm getting the following errors

[code]

Also, I think jquery should be removed as a dependency as angular provides the required functionality via jqlite.

[2016-08-13 13:23] tolyo commented on #32
@soumak77 OS?

[2016-08-13 13:55] tolyo commented on #32
@soumak77 Plz try again w clean install

[2016-08-13 20:21] soumak77 commented on #32
@tolyo it's working now

[2016-08-14 19:05] soumak77 commented on #32
@tolyo I just published a prerelease for 2.0 so that we can get the template working with that version.  The prerelease is https://github.com/base-apps/angular-base-apps/releases/tag/v1.2.7-0.

[2016-08-14 19:12] soumak77 opened #46 "Update build to allow pre-release on non-patch versions"
Currently the build uses [gulp-bump](https://www.npmjs.com/package/gulp-bump) to increase the version number.  When publishing a `prerelease`, the build will bump the patch version and create a prerelease for that version.  This is why the 2.0 pre-releases are marked as 1.2.7 instead of 2.0.0.

[2016-08-14 21:15] soumak77 opened #47 "Remove iconic from compiled source"
The iconic library is included as part of the distributed source code for angular base apps.  This needs to changes as it messes with ES6 integration for the templates.  The iconic library can be included as an additional dependency.  It isn't a dependency for the core framework, but will be a dependency for #37.

[2016-08-14 21:17] #47 closed

[2016-08-14 21:52] soumak77 opened #48 "Integrate open-iconic"
Replace the internal subset of the iconic library with the [open source version of iconic](https://useiconic.com/open).

[2016-08-14 22:12] soumak77 commented on #48
Unfortunately this won't work since open iconic doesn't provide smart icons like the ones included in this library, so the integration will be different.

[2016-08-14 22:12] #48 closed

[2016-08-14 23:40] soumak77 commented on #37
I've created a new [angular-icons](https://github.com/base-apps/angular-icons) repository to store the logic for integrating the icons into angular (JS).  The styling of the icons is still part of angular base apps (SCSS).

[2016-08-14 23:40] #37 closed

[2016-08-14 23:53] soumak77 opened #49 "Add angular-icons integration steps to docs"
Angular base apps should be designed to work with any icon library and [angular-icons](https://github.com/base-apps/angular-icons) is one step in that direction.  All the iconic JS code has been moved into angular-icons and will need to be manually included by developers wishing to continue to use the default iconic support.

[2016-08-15 00:23] soumak77 commented on #32
I got the angular base apps docs updated to work with angular-icons, but couldn't figure out how to get the brunch build updated for the templates.  Since the iconic source fails on the import command, it'll likely need to be included outside of app.js.

The new `angular-dynamic-routing` and `angular-icons` modules should be refactored a bit so that they are ES6 compliant (i.e. work well with impo

[2016-08-16 00:43] soumak77 commented on #49
waiting on https://github.com/base-apps/angular-icons/issues/4 which will provide easier integration

[2016-08-19 03:32] #49 closed

[2016-08-19 12:19] Seb- opened #50 "[Doc] Update the changelog page"
https://base-apps.github.io/angular-base-apps/#!/changelog

I'm currently considering to migrate from foundation-apps to angular-base-apps but a properly updated changelog would help a lot to understand the changes between the two.

I want to know what I'll get, and if it is actually an interesting move to make.

The main question I am wondering are:

- Is it a drop in replacement? It very much se

[2016-08-19 13:10] Seb- opened #51 "[Doc] Buttons bring back to the homepage"
https://base-apps.github.io/angular-base-apps/#!/button

When clicking on buttons (any of them, except those under Segmented Button Group and Input Groups) we are back to the homepage.

This is pretty annoying. It would be better to do nothing instead, so the user can test the behaviour and the different (CSS) states of clicking on a button.

Open to debate. It could be argued that it is better th

[2016-08-19 13:19] Seb- opened #52 "[Doc] Adding a "secondary label" example"
https://base-apps.github.io/angular-base-apps/#!/labels-badges

Apparently this fork added the secondary label (great), so I believe it could be displayed on the doc with the others.

This also applies to any other colors that would have been added.

[2016-08-19 13:26] Seb- opened #53 "[Popup/Notification] Having a popup/notification open prevents changing page"
https://base-apps.github.io/angular-base-apps/#!/popup

- click on the popup example
- while the popup is open, click on a link on the menu
- nothing happens

The same issue is there with notifications.

https://base-apps.github.io/angular-base-apps/#!/notification

While it can be argued that modals should display this behaviour, I don't think it's great for popups and especially not for notifica

[2016-08-19 16:11] svstartuplab opened #54 "Update from Zurb 18 Aug 2016"
I talked to Zurb’s lead engineer yesterday evening at a Meetup at Zurb.  Foundation for Apps is deprecated, although not officially, yet.  The people who were working on it left the company about a year ago.  They are discussing making Foundation for Sites plug-ins for Angular, Ember, and React but development is sometime in the future, at least a year away.   There is a plugin for Angular 1 done

[2016-08-19 16:20] soumak77 commented on #54
@svstartuplab thanks for the notes Jim!  I figured as much, but it would have been nice for someone from ZURB to provide those details over the last year, especially if they are still promoting their framework.  That level of professionalism is unacceptable from their end.  At least there is now an alternative for those that get stuck with Foundation for Apps.

[2016-08-19 16:20] #54 closed

[2016-08-19 16:35] soumak77 commented on #50
@Seb- Thanks for taking interest in this fork!  I admit the changelog needs some work which I'll hopefully get to soon, but for now here is the info you're looking for:
- Version 1.2.x is a drop in replacement for Foundation for Apps and contains the following fixes/features
  - https://github.com/base-apps/angular-base-apps/pull/3 (feature) -  Add `base.*` modules to replace `foundation.*` module

[2016-08-19 16:37] soumak77 commented on #51
I agree, the buttons should do nothing

[2016-08-20 01:04] soumak77 commented on #32
I updated the template to work with angular-icons v1.0

[2016-08-20 02:27] #51 closed

[2016-08-20 02:27] #52 closed

[2016-08-20 03:43] soumak77 commented on #50
Changelog has been updated for 1.2.x and 2.0.0

[2016-08-20 03:43] #50 closed

[2016-08-20 03:46] soumak77 opened #55 "Wave loader not scaling perfectly"
The wave loader does not scale properly.  The spacing is off when the wave is small.  The SCSS math needs to be updated so the wave looks correct for all sizes.

[2016-08-20 03:47] soumak77 opened #56 "Three bounce loader not scaling perfectly"
The three bounce loader does not scale properly. The spacing is off when the three bounce is small. The SCSS math needs to be updated so the three bounce looks correct for all sizes.

[2016-08-20 03:54] soumak77 opened #57 "add info for how to view docs for another version"
The docs are distributed with each release.  If someone needs to view the docs for a previous release, they can sync the docs from github and view them using a local web server such at [http-server](https://www.npmjs.com/package/http-server).

[2016-08-20 04:01] soumak77 commented on #35
I'm going to close this, but continue to contribute ideas via new issues!

[2016-08-20 04:01] #35 closed

[2016-08-20 04:23] #57 closed

[2016-08-20 04:32] soumak77 opened #58 "Version 2.0 prerelease available"
I published the docs for the 2.0 prerelease to https://base-apps.github.io/angular-base-apps.    Give it a try and post any issues you find.

@tolyo @mattgrande @gakimball @AntJanus @Seb-

[2016-08-20 08:26] soumak77 opened #59 "Add icon-left and icon-right classes for buttons and button-groups"
Allow positioning an icon or loading symbol to the left or right of the text for a button or button-group.  Functionality should match `icon-left` and `icon-right` classes for menu bar.

[2016-08-20 09:24] #59 closed

[2016-08-20 10:37] Seb- commented on #58
Great job. My notes:
Let me know if I should make separate issues with them.
- [x] I don't like the fact that the currently released version does not have a doc online anymore. It would be nice to be able to host multiple versions of the doc at the same time. At least the current release and the one from master, and ideally every version for people who do not wish to upgrade immediately. I know it

[2016-08-20 10:46] Seb- commented on #53
Depending on the changes required to fix this, it would be even better to leave is as an option.

[2016-08-20 20:47] soumak77 opened #60 "Host multiple versions of the docs"
This will allow users to view the docs for 1.x and 2.x without having to manually git clone the older docs.

This will be a bit tricky though, since both sets of docs create the same angular application.  The docs are hosted on github pages, so we can't simply route the urls to point to the correct version of the docs.  Some type of master controller can be added which can bootstrap the correct ve

[2016-08-20 20:48] soumak77 opened #61 "Update CHANGELOG.md"

[2016-08-20 20:50] soumak77 opened #62 "Fix vertical spacing for labels and badges"
https://base-apps.github.io/angular-base-apps/#!/labels-badges

When the labels are going over 2 lines (ore more) they touch each other, it would be nice to have a vertical spacing between them (using a p as the container would probably do, maybe changing line-height). Same for badges on small screens.

[2016-08-20 20:53] soumak77 opened #63 "Add no support detection to docs"
If the framework is not supported by the browser, display an overlay indicating lack of support.  Currently I use Modernizr's flex-box support as the way for determining whether the framework is supported. With Modernizr's automated custom build, the size of the additional dependencies for this feature can be minimized.

Provide steps in the docs on how to configure this in any application or poss

[2016-08-20 21:05] soumak77 commented on #58
@Seb- Thanks for the amazing feedback!  I fixed most of the issues with the docs and created other issues to track your other suggestions.  Here are my responses to the other (unchecked) suggestions:

#### Migration Tool

This is a great idea but I won't really have the time to create it.  You're welcome to create a new issue for this and hopefully someone from the community will pick it up.

####

[2016-08-20 21:10] soumak77 opened #64 "_settings.scss file is not being generated with build"
The auto-generated `_settings.scss` file is not being generated with the build

[2016-08-20 22:01] soumak77 commented on #60
It will actually be easy to host the different applications so long as they are each in their own folder.  For instance the latest release can be found at http://base-apps.github.io/angular-base-apps/latest and it can be kept up-to-date with the most current version going forward.

The problem will be with older versions as they won't know about newer versions unless we manually update the older d

[2016-08-20 23:05] soumak77 commented on #60
The `gulp-gh-pages` plugin does not allow adding files without removing everything first (https://github.com/shinnn/gulp-gh-pages/issues/60).  The `gh-pages` node module should be used instead so that files can just be added to github pages without removing others (https://github.com/tschaub/gh-pages#optionsadd).

[2016-08-21 01:57] soumak77 commented on #64
@gakimball any idea how to get this working with octophant 1.0?  I'm getting the following error when I updated:

`Parser for annotation BaseApps not found`

I'm not sure where to define the required information

[2016-08-21 02:23] soumak77 commented on #64
@gakimball I figured it out, just need to manually update the files to the new format

[2016-08-21 02:24] gakimball commented on #64
You need to use `octophant@0.1.0` to parse settings variables in that format. The older settings parser was manually parsing strings out of a Sass file. The newer version uses SassDoc.

[Here's the readme for the older settings parser.](https://github.com/zurb/octophant/tree/4db0a228b299fd080af60bce4b015d77d83d6e82) You need to change the delimiter from the default `@Foundation.settings`, so I thi

[2016-08-21 03:28] #64 closed

[2016-08-22 06:35] soumak77 commented on #60
Multiple versions of the docs are now available (see README for more info).  I've setup a client-side redirect from http://base-apps.github.io/angular-base-apps to the latest version of the docs.  Navigation between different versions will have to be done manually for now.  I'll open another issues to add a dropdown to the docs to navigate to other versions.

[2016-08-22 06:35] #60 closed

[2016-08-22 06:37] soumak77 opened #65 "Add navigation between different versions of the docs"
Provide the ability to navigate between different versions of the docs in the UI.  Currently navigation must be done by manually updating the url.

[2016-08-22 21:38] #61 closed

[2016-08-23 00:11] #62 closed

[2016-08-23 02:20] soumak77 commented on #32
@tolyo all prerequisites for the template are now completed.  Could you look into hooking up the `base-apps-router` module to run with the template build?  I'm not sure what the proper config is to get a pre-build step to run in brunch/babel.

[2016-08-23 05:39] #22 closed

[2016-08-23 06:30] soumak77 commented on #58
I want to finalize the 2.0 release this week and get it published by the end of the weekend.  Let me know if anyone has feedback on the prerelease.

The last thing on the [v2.0 milestone](https://github.com/base-apps/angular-base-apps/milestone/1) is to finalize the template, though that doesn't really need to be completed before v2.0 is published.

[2016-08-23 09:54] tolyo commented on #32
@soumak77 Please give it a test drive.

[2016-08-23 16:19] soumak77 commented on #32
@tolyo base-apps-router has been updated to not require gulp.  Is there a way to run it with just babel/brunch so the gulp dependency can be removed?

@gakimball any suggestions on how to update the build to accomplish this?

[2016-08-23 16:25] tolyo commented on #32
@soumak77 I thought it was a gulp task. Can we update the docs to reflect this?

[2016-08-23 16:28] soumak77 commented on #32
@tolyo changes were made by @gakimball the other day to allow running outside of gulp (https://github.com/base-apps/base-apps-router/commit/4cb5be0794c8abff390fba58a37021a7a136fb60)

I'll update the [base-apps-router](https://github.com/base-apps/base-apps-router) README to include a non-gulp example.

[2016-08-23 18:06] soumak77 commented on #64
@gakimball do you know if there is a way to get `octophant v1.0` to produce the same html partials that it did for `0.1.0`?  I like how the docs are configured to autoupdate the SCSS settings sections for each component and would like to get that working again.

Perhaps add a callback for each SCSS group being parsed so that those settings can be written to another file?  To make it more generic,

[2016-08-24 00:11] cjh79 opened #66 "ModalFactory activate does not show dialog anymore"
I'm using angular-base-apps v. 1.2 which I downloaded via bower. (I just switched from Foundation for Apps). When I use ModalFactory to create a dialog, and then call its activate() method, the dialog does not appear.

The modal-overlay div element is being appended to the body properly, but it does not get the 'is-active' class, so it remains hidden.

I suspect the issue was introduced in this co

[2016-08-24 00:14] soumak77 commented on #66
@cjh79 which exact version are you using?  The `1.2.7-*` versions are prereleases for 2.0 and you would need to follow the [migration steps](http://base-apps.github.io/angular-base-apps/latest/#!/migration) before using those versions.  Try out version `1.2.6` as a drop-in replacement and let me know if you still have this issue.

[2016-08-24 00:35] cjh79 commented on #66
@soumak77 I'm using 1.2.6.

[2016-08-24 00:37] soumak77 commented on #66
@cjh79 do you have a code snippet?  I've been using `1.2.6` in production and haven't seen any such issues with modals.

[2016-08-24 00:55] soumak77 commented on #66
@cjh79 modals in the 1.2.6 docs use `activate` and are working: http://base-apps.github.io/angular-base-apps/v1.2.6/#!/modal

I'll take a look at your code snippet to see if I can figure anything out.

[2016-08-24 00:55] cjh79 commented on #66
@soumak77 I see the issue with this html file. The modal-overlay element is appended to body, but does not get the is-active class and has display: none.

[code]

[2016-08-24 00:57] soumak77 commented on #66
ModalFactory does not have a `template` property.  It only has a `templateUrl` property.

[2016-08-24 01:02] cjh79 commented on #66
@soumak77 FWIW, template seems to work, nevertheless, I just did that to simplify the code -- I see the same issue when using templateUrl.

[2016-08-24 01:05] soumak77 commented on #66
@cjh79 could you possibly try wrapping `model.activate()` in a `$timeout`?

Also, you said this example works with Foundation for Apps?

[2016-08-24 01:08] cjh79 commented on #66
Wrapping it in a $timeout did not help. Yes, it was working fine in Foundation for Apps.

[2016-08-24 01:15] soumak77 commented on #66
I found the problem.  The templates were mistakenly updated to use the `base` module (see https://cdn.jsdelivr.net/angular-base-apps/1.2.6/base-apps-templates.js):

[code]

Try replacing `foundation` with `base` and `foundation.modal` with `base.modal`.

[2016-08-24 01:24] soumak77 opened #67 "Templates removed for foundation module"
The templates were mistakenly updated to only produce templates for the base module and not the foundation module (see https://cdn.jsdelivr.net/angular-base-apps/1.2.6/base-apps-templates.js).  This can be fixed in one of the following ways:

1. Create a new `foundation-apps-templates.js` for each 1.2.* release which will duplicate `base-apps-templates.js` but use the `foundation` module
  - Pendi

[2016-08-24 01:25] soumak77 commented on #66
The root cause of this issue has been captured by https://github.com/base-apps/angular-base-apps/issues/67

[2016-08-24 01:58] cjh79 commented on #66
That fixed it. Excellent, thanks!

[2016-08-24 01:58] #66 closed

[2016-08-24 14:59] soumak77 commented on #67
Option 1 has been completed on **jsdelivr**.  I'll update the docs, but if you use the `base` modules for 1.2.6, you'll need to include `base-apps-templates.js` and if you use the `foundation` modules for 1.2.6, you'll need to include `foundation-apps-templates.js`.

[2016-08-24 14:59] #67 closed

[2016-08-24 16:46] michal-szepielak opened #68 "[Docs] Search box doesn't redirect to searched item"
When using the search in docs it doesn't redirect to searched item.

**Reproduce steps**
- Open [docs page](http://base-apps.github.io/angular-base-apps/latest/#!/)
- Type *forms* into search box
- Autocomplete should show the *Forms* item
- Click on the autocomplete item
- JS error will occur

**JS error**
[code]

[2016-08-24 21:47] tolyo opened #69 "Merge distro files"
@soumak77 I am looking at the templates distribution file and it is only 350 lines long unminified. Is there a reason why it remains separate from the main distro?

[2016-08-24 22:07] soumak77 commented on #69
@tolyo It provides the ability to optionally not preload the `$templateCache`.  So if you want to host the templates yourself, the app will only download the templates when needed and then store them in the cache.  With such a small template library as of now that is probably not an issue, but that may not be true in the future.

[2016-08-24 22:28] tolyo commented on #69
@soumak77 But there are no templates for hosting in `dist`. In essence they are components and would be written as Angular components if we were to ignore backwards compatibility, which is all the more the reason to include them in the main dist. The separation is confusing to a newcomer and becomes even more odd after sufficient familiarity with the framework.

[2016-08-24 22:31] soumak77 commented on #69
@tolyo I'm okay with combining the files.  If someone is in need of a more advanced configuration, they'll likely be building from source anyway.

[2016-08-24 22:39] tolyo commented on #69
@soumak77 Agreed

[2016-08-24 23:27] gakimball commented on #64
I could, but I'm wary of continuing work on any of the libraries I worked on while I was at ZURB. I don't have much time in general, and I'm not supposed to be a ZURB admin still, they just haven't remembered to remove me yet.

That partials feature was removed because, for Foundation 6, we developed a more fully-formed solution for documentation: a tool called [Supercollider](https://github.com/z

[2016-08-24 23:36] soumak77 commented on #64
@gakimball sounds great!  I'll manually update the SCSS templates for now until we can start using an automated solution.

[2016-08-24 23:51] #69 closed

[2016-08-24 23:55] soumak77 commented on #69
@tolyo can you also update the install and migration docs?

[2016-08-25 00:00] tolyo commented on #69
@soumak77 Will do

[2016-08-25 22:59] #68 closed

[2016-08-26 02:56] soumak77 commented on #32
template is ready to start using

[2016-08-26 02:56] #32 closed

[2016-08-26 19:20] soumak77 commented on #53
@Seb- the root cause was a bug inside `baCloseAll`.  As such, it won't be a quick fix to make the option configurable.

[2016-08-26 19:20] #53 closed

[2016-08-26 22:13] soumak77 commented on #63
done http://base-apps.github.io/angular-base-apps/latest/#!/compatibility

@Seb-

[2016-08-27 03:41] soumak77 commented on #58
Version 2 has been [released](https://github.com/base-apps/angular-base-apps/releases/tag/v2.0.0)

[2016-08-27 03:41] #58 closed

[2016-08-29 09:52] Seb- opened #70 "Scroll on Modal"
What is the status of having scroll bar inside modals?

I tried with 1.2.6: I have a modal that is too big (vertically) for the window and I would like it to have a scroll bar, but it doesn't seem to work.

What is the best solution for this?

[2016-08-29 09:56] soumak77 commented on #70
I use the following SCSS to achieve this:

[code]

[2016-08-29 10:07] soumak77 commented on #70
Or if you want your modal to contain a grid:

[code]

[2016-08-29 10:15] Seb- commented on #70
Thank you.

The first solution works like I would like and is plug and play with any modal and any window size, but with a little problem, tested with latest Firefox: the scrollbar from the modal seems to be overlapping with the scrollbar of the window. It's fine when scrolling with wheel or keyboard or whatever since the modal has the focus, but the double scrollbar itself is confusing.

The seco

[2016-08-29 10:24] soumak77 commented on #70
You could try the first solution to get the scrolling to work, then wrap all the content inside your modal in a `grid-block`.

[2016-08-29 13:32] Seb- opened #71 "Missing dependencies on npm?"
I tried to install 2.0 with npm, and it seems no dependencies are coming with it?

With bower, it installs all of the required stuff such as fastclick, angular-ui-router, etc.

[2016-08-29 13:57] Seb- opened #72 "ui-sref not working with ba-close"
I tried to upgrade to 2.0, but I have links inside a `ba-panel` that are not working anymore.

Clicking the link should open a new page and close the panel, so it had `ba-close` together with `ui-sref`.

This worked fine before but does not work now.

Removing the `ba-close` allows to change page but the panel doesn't close.

Leaving the  `ba-close` and `ui-sref` allows to close the panel, but the

[2016-08-29 20:24] soumak77 commented on #71
That does bring up a good point.  The framework use to require both `npm` and `bower` to get all the dependencies setup.  `npm` was used to install the dynamic routing plugin, while `bower` was used to install the front-end dependencies.  Since the dynamic routing plugin was moved to it's own repository, there is no need to run both `npm install` and `bower install` anymore.  As such, the `npm` pa

[2016-08-29 20:28] #71 closed

[2016-08-29 20:34] soumak77 commented on #72
@Seb- Please provide an example of your use case.

The following use case is working in [the docs](http://base-apps.github.io/angular-base-apps/latest/#!/):
- Resize browser to match small device
- Click **Show Components** at the top
- Click a link inside the panel

The panel will close and navigate to the desired link.

[2016-08-30 09:55] Seb- commented on #72
Here is a snippet:

`<a ba-open="menuPanel"><i ba-open="menuPanel" class="fi-list"></i> <span ba-open="menuPanel" translate>TITLE_BAR.MENU</span></a>`

[code]

With this the panel doesn't close when clicking the links. It never did.

But as I said before I just added `zf-close` in the links to make sure it works. But as of 2.0 this trick is broken.

[2016-08-30 17:48] soumak77 commented on #72
Not sure if you just had a typo, but did you try `zf-close` or `ba-close`?  Please provide the markup that isn't working and I'll see if I can figure this out.  If you can create a jsfiddle or other online example that would help as well.

Your current example is working as expected.  Adding `ba-close=""` to the `<a>` tags should cause the panel to close when clicking the links.  Adding `ba-close=

[2016-08-31 00:56] soumak77 opened #73 "stagger not working with slow or fast classes"
In the example below the items should slide in one at a time using the `stagger` class:

[code]

Adding the `slow` or `fast` class overrides the `stagger` class.  This causes all the items to slide in at the same time.

[code]

[2016-08-31 08:16] soumak77 opened #74 "support import statement"
add index.js file to support using `import` in ES6 templates

[2016-08-31 08:16] #74 closed

[2016-09-01 21:09] mkriskovic-r7 opened #75 "Child view not working"
Using angular-base-apps v2.0.0, base-apps-router installed, angular-dynamic-routing installed. Have the two following .html files:

[code]

and

[code]

The Question keeps routing to the parent 'Pulse' page. No JS errors. No compile errors.

Been through the instructions several times and don't seem to be missing any steps. Can anyone verify that this is working in their local branch w/ version 2.

[2016-09-01 21:22] soumak77 commented on #75
@mkriskovic-r7 looks like you're missing the [ui-view](https://github.com/angular-ui/ui-router/wiki/Nested-States-and-Nested-Views#nested-states--views) attribute.  Adding the following inside `pulse.html` should fix that.

[code]

[2016-09-01 21:33] mkriskovic-r7 commented on #75
You are absolutely right, @soumak77! Thank you! I didn't realize there would need to be another ui-view here to accommodate the child views but it totally makes sense. Might be a good idea to add to the README.md file in the [https://github.com/base-apps/base-apps-router](https://github.com/base-apps/base-apps-router) repo. I will make a PR for that.

[2016-09-01 21:37] soumak77 commented on #75
@mkriskovic-r7 glad to help!

[2016-09-01 21:37] #75 closed

[2016-09-02 10:15] Seb- opened #76 "Questions/Requests about ConfirmModal and PromptModal (custom css and html)"
Is it possible to add a custom css class for ConfirmModal or PromptModal?

I tried to add a "class" parameters in the configuration object, but that didn't seem to work.

I would also like to be able to insert html into the buttons text to add an icon to them. How should I do that?

[2016-09-02 17:42] soumak77 commented on #76
Custom CSS can be added by using the provided `.confirm-modal` and `.prompt-modal` classes.

There is no way currently to customize the HTML structure of the modals.  Since the modals use the `ModalFactory`, it would make sense to allow customizing the configuration object used by both modals.  Some properties of the configuration object such as `contentScope` and `destroyOnClose` are vital to the

[2016-09-02 18:36] soumak77 commented on #76
@Seb- if you need support for this right away, you can inject the html into the buttons after the modal has been rendered.  The enter and cancel buttons have the `enter-button` and `cancel-button` classes, respectively.

[2016-09-03 06:12] soumak77 opened #77 "Refactor Motion UI"
ZURB has decoupled the Motion UI logic into its [own library](https://github.com/zurb/motion-ui).  Since Motion UI is used by [Foundation for Sites](http://foundation.zurb.com/sites/docs/motion-ui.html), I think it would be safe to assume the library will be maintained as needed.  Worst case we just create a new version of the library under Base Apps as we have for the other unmaintained libraries

[2016-09-03 06:25] soumak77 opened #78 "Allow overriding templateUrl for ConfirmModal and PromptModal"
Add support for overriding the `templateUrl` property for `ConfirmModal` and `PromptModal` to allow custom HTML to be used for the modals.  Custom templates will need to adhere to the current implementation of the scope meaning the `contentScope` property cannot be changed.  If changes to the scope implementation are required, users should create their own implementation of the modals.

[2016-09-03 06:26] soumak77 commented on #76
@Seb- I've created a [new issue](https://github.com/base-apps/angular-base-apps/issues/78) to add support for overriding the `templateUrl` property.  Is there anything else that needs to be addressed before this can be closed?

[2016-09-04 14:05] Seb- commented on #72
You can test it with this: https://github.com/Seb-/test-for-angular-base-apps

[2016-09-04 14:10] Seb- commented on #72
Note that the example has been stripped too much from my original project, and adding `ba-close` to the links there will indeed close the panel. I will need to re-add my features progressively to notice at which point the links start to fail with `ba-close`.

The example still shows that the panel does not auto-close when a link is clicked, which is the opposite of what the doc says.

[2016-09-04 14:41] Seb- commented on #72
Following more testing and all things aside similar, this works:

[code]

and this doesn't:

[code]

The issue is as soon as the click happens on a child element inside the link. (above example calls ba-close fine but not ui-sref)

This was working fine before version 2.

With `<li><a ui-sref="home" ba-close><b>test</b>HOME</a></li>` clicking on "HOME" works, not on "test".

[2016-09-04 19:29] soumak77 commented on #72
@Seb- you're missing the closing `</a>` tag on your home link

[2016-09-04 19:39] Seb- commented on #72
Sorry I guess I deleted too much while cleaning up, but it doesn't change the issue though, adding it won't work better, and the other link doesn't work either.

[2016-09-04 19:54] soumak77 commented on #72
dang, it's never that easy... I'll look into it.

[2016-09-04 20:17] soumak77 commented on #72
@Seb- I found the issue.  The [original fix](https://github.com/base-apps/angular-base-apps/blob/master/js/angular/components/common/common.js#L49-L52) only fixes the case when the clicked element has the `href` attribute.  In your example, the parent of the clicked element is the one with the `href` attribute.

I'll get this fixed and published in the next patch release.

[2016-09-05 02:03] soumak77 commented on #55
Currently the wave loader has 5 boxes for all sizes.  Instead if this was switched to 4 boxes for smaller sizes, it might resolve the issue with fractional pixels.  To allow keeping the same HTML structure for the loader, the 5th box can be hidden via CSS instead of removing it from the HTML.

[2016-09-05 02:42] #72 closed

[2016-09-05 17:00] gfviegas opened #79 "Implement Foundation-Apps-Modal tools"
Hi, I was using Found for Apps, and I found this plugin : https://github.com/ivnivnch/foundation-apps-modal which gives us a great tool to bind Controllers to modal and it's way more angular-friendly, as it returns promises. Can we natively integrate the tools of this plugin into Base-Apps?

It would be great to see the modal improved, or at least help the plugin to migrate to Base-Apps. I've open

[2016-09-05 19:54] soumak77 commented on #79
@gfviegas have you tried using the `ba-advise` directive mentioned in the [docs](http://base-apps.github.io/angular-base-apps/latest/#!/angular-modules)?  This directive provides notification support for various states of a component and can be used for more than just modals.  This directive is arguable more powerful than promises as you can hookup callbacks in multiple places of your code and not

[2016-09-05 20:14] soumak77 opened #80 "ModalFactory does not support ba-advise attribute"
There is no way to add the `ba-advise` attribute to a modal created with `ModalFactory`

[2016-09-05 20:14] soumak77 commented on #79
I do see though that `ModalFactory` does not currently support adding the `ba-advise` attribute to the dynamically created modal.  Issues https://github.com/base-apps/angular-base-apps/issues/80 has been created to track that.

[2016-09-05 20:32] #80 closed

[2016-09-05 20:34] soumak77 commented on #79
@gfviegas try with [v2.0.4](https://github.com/base-apps/angular-base-apps/releases/tag/v2.0.4) and let me know if you can achieve what you're looking to do

[2016-09-05 20:42] gfviegas commented on #79
@soumak77 another GREAT feature is to use the Controller to link to modal. What the plugin does is basically adapt the ZFA modal to be a little bit like AngularUI Bootstrap Modal.. See https://angular-ui.github.io/bootstrap/

This way we can create stateful modals, and put the modal logic in its own file.

[2016-09-05 20:44] soumak77 commented on #79
@gfviegas You should be able to accomplish what you need with the `contentScope` config property of the `ModalFactory`

[2016-09-05 20:46] gfviegas commented on #79
@soumak77 Can I link a controller name into the contentScope?

[2016-09-05 20:48] soumak77 commented on #79
@gfviegas no that is not currently possible

[2016-09-05 20:49] gfviegas commented on #79
@soumak77 that's what I was referring to. So for me it's missing 2 big functionalities that exists in the plugin I linked:
- Resolve the modal with a success data or dismissing it with a error data promise-like.
- Bind a modal to a Controller.

[2016-09-05 20:56] soumak77 commented on #79
I wouldn't be opposed to having the `ModalFactory` return promises for the following methods:
- activate
- deactivate
- toggle

Currently those methods don't return anything, so having them return a promise won't break backwards compatibility.

Support can also be added to the `ModalFactory` to allow providing a `controller` instead of a `contentScope`.

Feel free to submit PRs for either of those

[2016-09-05 20:58] gfviegas commented on #79
I dont really know how the source works, but I'll study and submit my PR. For now, I asked help for the plugin creator so we can have more resources to work on top of it.. Thanks bro @soumak77 !

[2016-09-08 09:25] Seb- commented on #72
Thank you, `ba-close` works as intended now.

This note in the doc is still wrong though:

[2016-09-10 02:03] soumak77 commented on #79
@gfviegas I'm going to close this but feel free to add a PR for the desired support

[2016-09-10 02:03] #79 closed

[2016-09-10 02:04] soumak77 commented on #76
closing with the assumption this is resolved

[2016-09-10 02:04] #76 closed

[2016-09-13 11:26] Seb- commented on #76
I need to progress in my project and this seems to be too much for the result so I gave up on it for the moment and just kept default. The information was useful though. I might get back to it and comment more when I have time to play with this.

[2016-09-21 11:53] rmsint opened #81 "Position Action Sheet"
What would you advise to position an Action Sheet?
For buttons that are on the edge of the screen the positioning should be changed ie. to the right to prevent the menu being cutoff.

For a project at my company we just upgraded to 2.x, thanks a lot for continuing this project!

Maybe something similar as `md-position-mode` of the angular material menu is possible for the Action Sheet?

[2016-09-21 20:23] tolyo commented on #81
@rmsint Used dropdown from foundation 5 for similar case.

[2016-09-23 17:01] soumak77 commented on #81
I'm actually quite surprised that position `right` and `left` are not supported for action sheets.  I'll leave this issue open for anyone that wants to add support for that.

@rmsint In the meantime you can position action sheets with the following CSS:

[code]

I used this solution to position the menu dropdowns on https://parents.fiboart.com

[2016-10-04 19:50] bachle opened #82 "SCSS fails to compile in existing project"
I have an existing angular project using the yeoman angular generator. After installing angular base apps, the scss files will not compile and throwing an error. The compiler being used is compass.

}

any ideas?

[2016-10-04 20:02] tolyo commented on #82
@bachle can we see your `package.json` and your sass build step?

[2016-10-04 20:03] soumak77 commented on #82
@bachle Looks like there is a bug in the usage of the [selector-replace](http://sass-lang.com/documentation/Sass/Script/Functions.html#selector_replace-instance_method) method on [line 26 of 4-wandering.cubes.scss](https://github.com/base-apps/angular-base-apps/blob/master/scss/vendor/spinkit/spinners/4-wandering-cubes.scss#L26).

[code]

Not sure why compass is tripping on this usage.  To get aro

[2016-10-05 23:49] bachle commented on #82
It looks like switching from compass to libsass fixed it for me. Gonna close.

[2016-10-05 23:49] #82 closed

[2016-10-06 07:26] rmsint commented on #81
Thanks a lot, the link is a nice example! Interesting to see in action how you solved it. Offtopic: also how you switch between a menu bar and offcanvas menu for mobile navigation is very nice.

[2016-10-10 02:10] cbrunet opened #83 "Transforming panel not working"
When applying x-grid-block class to a panel, where x is a breakpoint (large-grid-block, for instance), the panel should appear as a grid-block at the specified breakpoint. This is working in foundation for apps, but this is broken in angular-base-apps. The panel works at smaller screen sizes, but is not displayed at the given breakpoint. It seems to be caused by line 476 of _grid.scss, but I'm not

[2016-10-10 21:44] soumak77 commented on #83
The changes made in Angular Base Apps were done to fix https://github.com/zurb/foundation-apps/issues/572.

@cbrunet Could you setup a jsFiddle or other online example? Also, what browser(s) are experiencing the issue?

[2016-10-11 02:17] cbrunet commented on #83
Tried on both Vivaldi and Firefox. Not able to make angular-base-apps work on jsfiddle... But the given snippet should be enough to see the problem.

The ba-panel becomes a div with .panel style. Since it does not have .is-active class, it get the display:none property.

[2016-10-13 22:52] Maximaximum opened #84 "Add support for ui-router 1.0"
I'd love to use some features of ui-router 1.0, which is currently in beta.

Here is a migration guide https://ui-router.github.io/guide/ng1/migrate-to-1_0

Not sure whether dependency on ui-router should be included into master, or it should be a separate branch?

[2016-10-13 23:02] soumak77 commented on #84
After refactoring the codebase for 2.0 and introducing https://github.com/base-apps/base-apps-router and https://github.com/base-apps/angular-dynamic-routing, I don't think there is a need to have `angular-ui-router` be a part of this project's `dependencies` anymore.  It should instead be moved to `devDependencies` since it is only needed by the docs and not the framework which is the key deliver

[2016-10-14 05:16] #83 closed

[2016-10-14 05:16] #84 closed

[2016-10-21 02:43] cjh79 opened #85 "baCloseAll can cause modal dialogs to close immediately after opening"
When using baCloseAll, clicking on an element that is a descendant of a ba-open/ba-close (etc.) element does not open the thing that is supposed to be opened.

[This jsfiddle](https://jsfiddle.net/82g6yu6f/) shows the bug.

Before closing active dialogs etc., the baCloseAll directive looks for a ba-close/ba-open/ba-toggle attribute and doesn't close everything if it finds it on the element. Howeve

[2016-10-21 03:10] soumak77 commented on #85
@cjh79 That fix sounds good.  Submit a PR and I'll take a look.

[2016-10-21 20:52] #85 closed

[2016-12-14 19:50] cjh79 opened #87 "baSwipeClose breaks touch scrolling"
Setting `ba-swipe-close="[direction]"` breaks touch scrolling in other directions.

For example, I have a ba-off-canvas menu that slides in from the right, to which I have applied `ba-swipe-close="right"` so that it can be swiped back off the screen. But with that attribute in place, I can no longer scroll the menu up and down. Hammer has taken over all swiping gestures.

The problem seems to be i

[2016-12-15 00:56] #87 closed

[2016-12-21 14:18] mattheworres opened #89 "On 1.2.6, setting $notification-default-position does not work"
Given that I set the SASS variable `$notification-default-position` from something different from the default of `top right` (to `middle bottom`, for example) any and all notifications without a `position` attribute specified still show up in the top right.

[2016-12-28 11:07] soumak77 commented on #89
The issue is caused by the code using the class `top-right` when no position is provided:
- https://github.com/base-apps/angular-base-apps/tree/master/js/angular/components/notification/notification.js#L89
- https://github.com/base-apps/angular-base-apps/tree/master/js/angular/components/notification/notification.js#L245

This should be changed to use a `default-position` class instead so the defa

[2017-01-23 20:05] soumak77 commented on #89
fixed by https://github.com/base-apps/angular-base-apps/commit/d30e8b4a64d5c76f6e2bd29708c35d3e9d5bf38c

[2017-01-23 20:05] #89 closed

[2017-01-29 20:43] soumak77 opened #90 "Angular 2 layout engine"
I'm working with angular 2 and started using [Material Design](https://material.angular.io).  One major feature missing from the material design framework is how to generate a nice layout.  They suggest [angular flex layout](https://github.com/angular/flex-layout), however I disagree with the design in how all sizing must be specified in the html versus style sheets.  Does anyone know of a good la

[2017-01-30 11:30] tolyo commented on #90
@soumak77 There is a layout API in [Angular Material](https://material.angularjs.org/latest/layout/container) and I would expect them to have a similar feature for the second version.

[2017-01-30 13:31] tunecino commented on #90
I don't know much about angular 2 as I'm just starting to learn it but if I have to start from scratch following angular 2 way to build features I'd check [bulma.io](http://bulma.io/) and [picnicss.com](http://picnicss.com/) as both are modern lightweight css-only frameworks with native flex support. If anyone have ideas on how angular-base-apps should be best restructured to work on an optimized

[2017-01-30 20:03] soumak77 commented on #90
@tolyo I believe they are pushing for [angular/flex-layout](https://github.com/angular/flex-layout) to be the layout API for angular 2 (see bottom of [material 2 feature list](https://github.com/angular/material2#project-status)).  The problem I have is that every example has the styling being done via html attributes instead of css classes.  So when you have any responsive styling provided via CS

[2017-01-31 13:51] tolyo commented on #90
@soumak77 I see. Yes it looks like they are trying to solve a non-existent problem with those attributes. For version 2 of the framework, I would like to see a more [BEM](https://en.bem.info/)ish approach to component styling use. Its being used in MDLite and lends itself well to component design.

[2017-04-07 19:00] chadbrogan opened #91 "Creative usage of selector-replace() in 4-wandering-cubes.scss throws error on libsass 3.5.0.beta.2"
This issue was already reported as a problem with compass (#88 ).

Compiling with latest version of node-sass on windows 7 . . .

[code]
generates the following error:

[code]

`selector-replace` method used in 4-wandering-cubes.scss -> `@mixin sk-wandering-cubes-animation(...)` expects the $replacement parameter to be non-empty.

[code]
Is this code trying to find/replace `.` inside the `$width`

[2017-04-07 19:14] soumak77 commented on #91
@chadbrogan is your app using loading symbols?  If not you can disable the component by setting the following variable in your `_settings.scss` file to `false`: https://github.com/base-apps/angular-base-apps/blob/master/scss/_settings.scss#L56

If you want to use the loading symbols, you are free to offer up a PR with the desired changes to make it compile.  This code was taken directly from https

[2017-04-07 19:36] chadbrogan commented on #91
@soumak77 An option for disabling the spinkit module was what I was looking for (it's not used in our app). Thank you.

If anyone else runs into this and needs a very hacky workaround, you can also override the selector-replace method. Again very hacky, but it compiled on my machine:

[code]

[2017-04-07 19:36] #91 closed

[2017-04-19 13:07] klihelp opened #92 "Update Angular to version 4, released March 2017"

[2017-04-19 17:29] soumak77 commented on #92
This will not be addressed.  Updating to anything beyond Angular 1.x will require an entire re-write of the framework.

[2017-04-19 17:29] #92 closed

[2017-04-19 17:30] #90 closed

[2017-05-17 14:56] creativereason opened #93 "Angular 2 (now 4) support?"
If this has been asked, sorry, didn't see it addressed anywhere. Is there (or does this), support or work with Angular 2?

[2017-05-17 17:58] soumak77 commented on #93
See https://github.com/base-apps/angular-base-apps/issues/92#issuecomment-295356778

[2017-05-17 17:58] #93 closed

[2017-07-28 01:09] cjh79 opened #94 "Auto-close action sheet"
It would be great if there was a setting on the Action Sheet to make it automatically hide when the user taps inside it. Actually it seems to me that this should really be default behavior.

If there is an actionable item inside an Action Sheet, I think the user would expect the sheet to go away when they click it. At that point they're done with the sheet.

[2017-07-28 01:12] soumak77 commented on #94
@cjh79 if I remember correctly, you should be able to place a `ba-close` attribute on any link you want to have close the actionsheet.  Using `ba-close` without specifying a value will cause the framework to close the nearest component, which should be the actionsheet.

[2017-07-28 01:22] cjh79 commented on #94
Oh, you're totally right, that does work. The one thing I didn't try. Excellent, thank you. As far as I'm concerned this resolves this issue.

Interestingly, I'd tried `ba-close-all`, and that does not seem to work on action sheets. It seems that the action sheet doesn't come up in `document.querySelectorAll('.is-active[ba-closable]')`.

[2017-07-28 01:22] #94 closed

[2017-09-01 09:53] #46 closed

[2017-09-01 15:19] harshadbhandure-tudip opened #95 "Unable to show HTML content on the notification"
I am using the `BaseAppsApi.publish` method for displaying the notification and passing the string in `content` field.
But, it is unable to display the html content on notification and displaying the html tags as it is.
I have tried using the `$sce.trustAsHtml` while passing the string but I can't use `ng-bind-html` in view.

I want to display bullet points on notification.
What should be done in

[2017-09-02 00:00] soumak77 commented on #95
@harshadbhandure-tudip It looks like injecting HTML is only supported for the notification title.  If you pass the HTML via the `title` property then it should work.  Here is the source: https://github.com/zurb/foundation-apps/blob/b96c3e1d0badd286b356b7b206364454a445388f/js/angular/components/notification/notification.js#L137-L143

One problem with this approach is that the injected html is wrapp

[2017-09-04 09:36] harshadbhandure-tudip commented on #95
@soumak77
Yes. What should be done in order to format the `content` property?
It is not allowing `\n` to break the line.
Can you please suggest?

[2017-09-04 20:24] #95 closed

[2017-09-04 20:26] soumak77 commented on #95
@harshadbhandure-tudip I added support for HTML content in v2.0.11.  Check the docs for specific examples: http://base-apps.github.io/angular-base-apps/v2.0.11/#!/notification

[2017-09-05 08:16] harshadbhandure-tudip commented on #95
Thank you!

[2017-11-28 10:39] GSolari79 opened #96 "How to update in angular-base-apps from foundation-apps"
Hi,

It would be really appreciated if you guide me how to update my current app project created with foundation-apps to angular-base-apps. I have Foundation CLI version 2.1.0.

Thanks

[2017-11-29 03:51] soumak77 commented on #96
@GSolari79 check out the migration guide: http://base-apps.github.io/angular-base-apps/latest/#!/migration

[2017-11-29 03:51] #96 closed

[2018-02-02 19:09] mattgd opened #97 "Sass compilation error with v2.0.11"
Hi there! I'm running into an error when trying to compile the Sass files for Base Apps.

* I installed angular-base-apps using npm: `npm install angular-base-apps --save` and am using version **2.0.11**.
* The Sass version I have installed is **Sass 3.5.5 (Bleeding Edge)** (via `sass -v`).

When trying to compile the Sass from the `scss` directory, I get the following output:
[code]

This happens

[2018-02-03 03:21] soumak77 commented on #97
@mattgd seems similar to https://github.com/base-apps/angular-base-apps/issues/91.  Try the solution mentioned in that issue.

[2018-02-05 17:42] mattgd commented on #97
@soumak77 Disabling loaders as instructed in #91 did the trick. Thanks a lot!

[2018-02-05 17:42] #97 closed

[2018-02-15 19:29] mattgrande opened #98 "active-true not firing in IE Edge (15 & 16)"
Has anyone else noticed that the `active-true` event no longer fires in IE Edge v15+ (14 worked fine)? I'm listening for when a modal is fully open, and the active-true has stopped working...

[2018-02-15 20:13] soumak77 commented on #98
@mattgrande what version of the framework are you using?  The event was originally named `active-true`, but was later changed.  See most recent docs regarding `animateAndAdvise ` and `ba-advise`: http://base-apps.github.io/angular-base-apps/latest/#!/angular-modules

[2018-02-15 20:20] mattgrande commented on #98
Oh crap, I got my apps confused; This one is using Foundation For Apps still :/

Closing!

[2018-02-15 20:20] #98 closed

[2018-02-15 23:23] Maximaximum commented on #91
Thanks god I've found this bug reported here. I would've never found this out by my own!

Though, I still don't really get what's going on here and why do I get that weird `[SELECTOR]` error

[2018-03-16 20:41] soumak77 opened #99 "Build broken after updating to latest gulp-sass"
The build is broken due to https://github.com/base-apps/angular-base-apps/issues/91.  Fix this by removing the wandering cubes loaders from this library.

[2018-03-16 20:46] #99 closed